# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Data directories
/raw_data/*.csv
/raw_data/*.json
/raw_data/*.parquet
/lakehouse/

# Environment
.env
venv/
env/

# Spark/Delta logs
derby.log
metastore_db/
spark-warehouse/
